$container-width: 920px;
$site-width:1240px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;
$font-size_4l: 46px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;


//Top Page
a{
  color: #4c4c4c;
  transition: .2s;
}
a:hover{
  color: #ca4350;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  width:  $container-width;
  height: auto;
}

.left{
  font-size: $font-size_m;
  z-index: 100;
  width: 100px;
  position: fixed;
  left: 0;
  height: 100%;
  overflow: scroll;
  background: #e3e4e5;
  .left-header{
    position: fixed !important;
    width: 100px;
    background: rgba(210,210,210,1);
  }
  ul{
    margin-top: 18px;
    li{
      margin: 4px 0;
    }
  }
}

.right{
  margin-left: 100px;
  box-sizing: border-box;
  width: calc(100% - 100px);
  .container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header{
      height: 30px;
      width: 100%;
      background: rgba(200,200,200,0.2);
      position: fixed;
      top: 0;
      .header-wrapper{
        height: auto;
        width: $container-width;
        margin: 0 auto;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        .header-right{
          ul{
            display: flex;
            justify-content: space-around;
            width: 200px;
          }
        }
      }
    }
    .top-image{
      background-image: url(../images/topimage.jpg);
      background-size: cover;
      margin-top: 30px;
      height: 550px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        font-family: 'Girassol', cursive;
        font-size: $font-size_4l;
        color: #fff;
        text-shadow:0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);;
      }
      p{
        font-family: 'Sawarabi Gothic', sans-serif;
        margin-top: $space_s;
        color: #f5f5f5;
        text-shadow:0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);;
      }
    }
    .description{
      text-align: center;
      margin: $space_xxl auto 0 auto;
      h1{
        font-weight: bold;
        font-size: $font-size_l;
        margin-bottom: $space_xxl;
      }
      p{
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}
//Signup, login form
header{
  height: 30px;
  width: 100%;
  background: rgba(200,200,200,0.2);
  position: fixed;
  top: 0;
  .header-wrapper{
    height: auto;
    width: $container-width;
    margin: 0 auto;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    .header-right{
      ul{
        display: flex;
        justify-content: space-around;
        width: 200px;
      }
    }
  }
}
.container{
  .form-wrapper{
    border: 1px solid #e6e6e6;
    background: #fdfffc;
    margin:150px auto 0 auto;
    width: 30%;
    height: auto;
    .to_signup{
      font-size: $font-size_m;
      display: flex;
      justify-content: flex-end;
      margin-bottom: $space_m;
      a{
        font-weight: bold;
      }
    }
    h1{
      text-align: center;
      font-size: $font-size_xl;
      margin: $space_l 0;
    }
    form{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      label{
        margin: 0 auto;
        input{
          font-size: $font-size_l;
          margin-bottom: $space_l;
        }
      }
    }
  }
}

//BBS style
.board-header{
  width: 100%;
  text-align: center;
  color: white;
  background: black;
  position: fixed;
  height: auto;
}
.post-wrapper{
  border: black 1px solid;
  padding: 40px 20px 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  .thread-title{
    width: 20%;
    min-width: 20px;
  }
  .name-post-wrapper{
    margin-bottom: 1px;
    display: block;
  }
}
.board-container{
  width: 90%;
  margin: 0 auto;
  .sponsors-area{
    height: 320px;
    max-height: 400px;
    min-height: 200px;
    background: blue;
    padding-top: 20px;
    margin-bottom: $space_xl;
    border-radius: 4px;
  }
  .thread-list-area{
    height: 300px;
    max-height: 400px;
    min-height: 200px;
    background: green;
    margin-bottom: $space_xl;
    border-radius: 4px;
  }
  .thread-wrapper{
    border: 1px solid black;
    height: auto;
    background: #f0f0f0;
    margin-bottom: $space_xl;
    border-radius: 4px;
  }
  .pagination{
    margin: 0 auto;
    width: 25%;
    .pagination-list{
      display: flex;
      justify-content: space-between;
    }
  }
  .comment-wrapper{
    background: grey;
  }
}
//thread style
.thread-body{
  background-image:url('../images/brick.jpg');
  header{
    width: 100%;
    background: #fdfffc;
    h1{
      display: inline;
      font-size: $font-size_xl;
      margin: 0 auto;
    }
  }
  .thread{
    background: white;
    border: black 1px solid;
    margin: 50px auto $space_l auto;
    width: 90%;
    .thread-table{
      margin: $space_m;
      .comment-wrapper{
        margin-bottom: $space_xl;
        .thread-number{
          display: flex;
        }
        .name-wrapper{
          margin-bottom: $space_s;
        }
        .comment-box{
          margin-left: 20px
        }
      }
    }
    .post-wrapper{
      margin-top: $space_m;
      .name-post-wrapper{
        margin-bottom: 1px;
        display: block;
      }
    }
  }
}
